body {
  font-family: 'Arial', sans-serif;
  margin-left: 100px;
  flex: 1 1 auto; /* Allow body to grow and shrink */
}

h1 {
  color: #929fc2;
  flex: 1 1 auto; /* Allow h1 to grow and shrink */ 
}

.bg-blue-100, .bg-green-100, .bg-teal-100, .bg-purple-100, .bg-yellow-100, .bg-indigo-100, .bg-gray-100 {
  transition: all 0.3s ease;
}

.bg-blue-100:hover, .bg-green-100:hover, .bg-teal-100:hover, .bg-purple-100:hover, .bg-yellow-100:hover, .bg-indigo-100:hover, .bg-gray-100:hover {
  transform: scale(1.002);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}